<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-12">
      <%= form_with(model:@reservation, url:reservations_path, method: :post, local:true) do |f| %>
          <div class="card-body">
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="form-group">
              <%= f.label :date, "ご利用日時" %>
              <%= f.date_field :date, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :station_id, "ご利用駅" %>
              <%= f.select :station_id, @stations.map{|station| [station.station_name, station.id]}, {prompt: "駅を選択してください"}, {class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.label :time, "お届け希望時間" %>
              <%= f.time_field :time, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :address, "お届け先住所" %>
              <%= f.text_field :address, class:"form-control" %>
            </div>
          </div>
          <div class="text-center reservation-btn">
            <%= f.submit "登録",class:"btn shadow" %>
          </div>
        <%end%>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
